body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100pt auto;
    color: green;
}

#Header {
    grid-row: 1/ span 1;
    display: grid;
    grid-template-columns: auto 10% auto;
    grid-template-rows: auto;
}

H1 {
    grid-column: 1/ span 1;
}

button {
    grid-column: 2/ span 1;
}

.options {
    background: lightskyblue;
    alignment: center;
    grid-column: 3/ span 1;
}

#List {
    grid-column: 1/ span 2;
    grid-row: 2/ span 1;
}

.completed {
    color: darkseagreen;
}

.editing {
    background: lightskyblue;
    color: green;
}

.uncompleted {
    color: green;
}

.empty {
    color: green;
}