body {
    font-size: 200%;
    display: grid;
    grid-template-columns: 20pt auto 20pt;
    grid-template-rows: 150px auto;
    color: darkgreen;
    background-color: #d1f5d3;
    font-family: "Century Gothic",sans-serif;
}

#Header {
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    display: grid;
    grid-template-columns: 46% auto;
    grid-template-rows: auto;
}

H1 {
    grid-column: 1/ span 1;
    font-size: 260%;
}

.menu {
    grid-column: 2/ span 1;
    margin-top: auto;
    margin-bottom: auto;
    alignment: left;
}

button {
    font-size: 129%;
    margin: auto;
    color: darkgreen;
    background-color: #a1d2a1;
}

.options {
    position: absolute;
    background-color: #a1d2a1;
    box-shadow: 10px 10px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.options p{
    margin: 20pt;
}

#List {
    font-size: 120%;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    /*text-decoration: underline;*/
}

#List ul li {
    margin: 10pt 0;
    width: fit-content;
    list-style-type: none;
    border-bottom: 2px solid darkgreen;
}

.completed {
    color: #8ab28a;
    /*8ab28a*/
    text-decoration: line-through;
    z-point: 1;
}

.completed:before {
    content: '\0025CF';
    line-height: 28pt; /*match the li line-height for vertical centered bullets*/
    position: absolute;
    font-size: 172%;
    left: 20pt;
}

.editing {
    background: #a1d2a1;
}

.editing:before {
    content: '\0025CB';
    line-height: 28pt; /*match the li line-height for vertical centered bullets*/
    position: absolute;
    font-size: 172%;
    left: 20pt;
}

.uncompleted {
    /*color: dark;*/
    list-style-type: circle;
}

.uncompleted:before {
    content: '\0025CB';
    line-height: 28pt; /*match the li line-height for vertical centered bullets*/
    position: absolute;
    font-size: 172%;
    left: 20pt;
}

.empty {
    /*color: green;*/
    color: #8ab28a;
    list-style-type: circle;
}

.empty:before {
    content: '\0025CB';
    color: darkgreen;
    line-height: 28pt; /*match the li line-height for vertical centered bullets*/
    position: absolute;
    font-size: 172%;
    left: 20pt;
}