body {
  font-size: 15pt;
  color: darkgreen;
  background-color: #d1f5d3;
  font-family: "Century Gothic",sans-serif;
}

h3 {
  padding-left: 21pt;
}

button {
  display: inline-block;
}

.listButton {
  display: inline-block;
}