body {
  font-size: 15pt;
  color: darkgreen;
  background-color: #d1f5d3;
  font-family: "Century Gothic",sans-serif;
}

body ul li {
  width: 80%;
  display: grid;
  grid-template-columns: auto 20pt;
  grid-template-rows: max-content;
}

body ul li .listButton{
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: left;
  border: none;
  background: #d1f5d3;
}

body ul li p {
  grid-column-start: 1;
  grid-column-end: 1;
}

.deleteListButton{
  grid-column-start: 2;
  grid-column-end: 2;
}

h3 {
  padding-left: 21pt;
}

button {
  display: inline-block;
}

.listButton {
  display: inline-block;
}