
#Header {
    width: 80%;
    display: grid;
    grid-template-columns: 27pt 29pt auto 23pt;
    grid-template-rows: auto;
}

h1 {
    font-size: 22pt;
    padding-left: 10%;
    text-align: left;
}

#Header input {
    grid-column: 3/ span 1;
    font-size: 22pt;
    width: 90%;
    font-weight: bold;
    height: auto;
    color: darkgreen;
    background-color: #d1f5d3;
    font-family: "Century Gothic", sans-serif;
    border: none;
}

.titleTextbox {
    text-overflow: ellipsis;
}

#Header input:focus {
    background-color: #a1d2a1;
    outline: none;
}

.pencil {
    font-size: 22pt;
    padding-left: 10%;
    text-align: left;
    grid-column: 2/ span 1;
    padding-right: 5px;
}