ul {
    word-wrap: anywhere;
}

.completed {
    color: #8ab28a;
    text-decoration: line-through;
    border-bottom: 2px solid darkgreen;
}

.completed .textBox {
    color: #8ab28a;
    text-decoration: line-through;
}

/*.editing {*/
/*    background: #a1d2a1;*/
/*    border-bottom: 2px solid darkgreen;*/
/*}*/

.uncompleted {
    list-style-type: none;
    border-bottom: 2px solid darkgreen;
    overflow-wrap: break-word;
    word-wrap: anywhere;
}

.uncompleted button {
    color: #d1f5d3;
    font-size: 15pt;
    border: 2px solid darkgreen;
    border-radius: 50%;
    background: #d1f5d3;
    padding: 17px;
    padding-bottom: 2px;
    padding-left:2px;
}

.completed button {
    border: 2px solid #8ab28a;
    border-radius: 50%;
    background: #8ab28a;
    color: #8ab28a;
    font-size: 15pt;
    padding: 17px;
    padding-bottom: 2px;
    padding-left:2px;
}

::placeholder {
    color: rgb(97, 167, 98);
    /*color: #8ab28a;*/
}

.deleteItemButton{
    background-color: rgba(255,255,255,0)!important;
    color: darkgreen !important;
    transform: rotate(45deg);
    padding: 5px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border: none !important;
}

.deleteItemButton:hover{
    color: #8ab28a !important;
}

.textBox {
    /*text-overflow: ellipsis;*/
    width: auto;
    padding-left: 8px;
    height: auto;
    font-size: 15pt;
    color: darkgreen;
    background-color: #d1f5d3;
    font-family: "Century Gothic",sans-serif;
    border: none;
}

.textBox:focus {
    background-color: #a1d2a1;
    outline: none;
}

span {
    display: inline-block;
    text-align: right;
    width: 23pt;
}

.priorityButton {
    /*visibility: hidden;*/
    background-color: rgba(255,255,255,0)!important;
    color: darkgreen !important;
    padding: 5px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border: none !important;
}

/*.textBox:focus + button {*/
/*    visibility: visible;*/
/*}*/

.priority0 {
    color: #8ab28a !important;
}

.priority2:before {
    content: "!";
}

.priority3:before {
    content: "!!";
}