#List {
    font-size: 120%;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    /*text-decoration: underline;*/
}

#List ul li {
    margin: 10pt 0;
    width: fit-content;
    list-style-type: none;
}

#List ul {
    list-style-type: none;
}

.empty {
    color: #8ab28a;
    list-style-type: circle;
}

.empty div{
    width: 125px;
}

.empty button {
    border-radius: 50%;
    padding: 10px;
    background: #d1f5d3;
}