.menu {
    grid-column: 2/ span 1;
    margin-top: auto;
    margin-bottom: auto;
    alignment: right;
}

.menuBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 640px;
    right: 100%;
    width: 100%;
    height: 640px;
    z-index: 1;
}

button {
    cursor:pointer;
    font-size: 129%;
    margin: auto;
    color: darkgreen;
    background-color: #a1d2a1;
}

.menu button:hover {
    background-color: #8ab28a;
}

.options {
    font-size: 14pt;
    position: fixed;
    left: 41pt;
    background-color: #a1d2a1;
    box-shadow: 10px 10px 16px 0 rgb(0,0,0,0.2);
    z-index: 1;
}

.options p{
    margin: 8pt;
    padding: 4pt 9pt;
}

.options p:hover{
    background-color: #8ab28a;
}
