.menu {
    grid-column: 4/ span 1;
    margin-top: auto;
    margin-bottom: auto;
    alignment: right;
    font-family: "Century Gothic",sans-serif;

}

.menuBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 640px;
    right: 100%;
    width: 100%;
    height: 640px;
    z-index: 1;
}

.dropDownMenuButton {
    cursor:pointer;
    font-size: 129%;
    color: #003800;
    background-color: #a1d2a1;
}

.options button {
    cursor:pointer;
    font-size: 129%;
    color: #003800;
    background-color: #a1d2a1;
    border:none;
}



.menu button:hover {
    background-color: #8ab28a;
}

.options {
    font-size: 15pt;
    position: fixed;
    right: 18.35%;
    margin: auto;
    background-color: #a1d2a1;
    box-shadow: 10px 10px 16px 0 rgb(0,0,0,0.2);
    z-index: 1;
}

.options p {
    margin: 8pt;
    padding: 4pt 9pt;
}

.options p:hover{
    background-color: #516C51;
}

.sortOptions{
    font-size: 12pt;
    padding-left: 20px;
}
.downArrow {
    /*display: inline;*/
    padding-left: 9pt!important;
}

#sortButton {
    /*display: inline;*/
}
