.menu {
    grid-column: 2/ span 1;
    margin-top: auto;
    margin-bottom: auto;
    alignment: right;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 640px;
    right: 360px;
    width: 360px;
    height: 640px;
    opacity: 1;
}

button {
    cursor:pointer;
    font-size: 129%;
    margin: auto;
    color: darkgreen;
    background-color: #a1d2a1;
}

.menu button:hover {
    background-color: #8ab28a;
}

.options {
    position: absolute;
    top: 42.5pt;
    left: auto;
    right: 0;
    background-color: #a1d2a1;
    box-shadow: 10px 10px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.options p{
    margin: 10pt;
    padding: 5pt 10pt;
}

.options p:hover{
    background-color: #8ab28a;
}
