.menu {
    grid-column: 2/ span 1;
    margin-top: auto;
    margin-bottom: auto;
    alignment: left;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 640px;
    right: 360px;
    width: 360px;
    height: 640px;
    opacity: 1;
}

button {
    font-size: 129%;
    margin: auto;
    color: darkgreen;
    background-color: #a1d2a1;
}

.options {
    position: absolute;
    background-color: #a1d2a1;
    box-shadow: 10px 10px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.options p{
    margin: 20pt;
}
